@media (max-width: 1000px) {
    .row {   
      flex-direction: column;
    }
  }

  body{
    background-color: #E8FFFF;
  }

.navbar-brand{
    margin-right: 40px;
}

.profile_section{
    background-image: url("image/profilebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}
